body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e0e0e0;
}

.header {
    flex: 0 0 50px;
    background-color: #e4b8b8ef;
    border: 1px solid black;
}

.content-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.content-body .content {
    flex: 1 1 auto;
    overflow: auto;
    background-color: #ed4848ef;
    border: 1px solid black;
}

.content-body .sidenav {
    order: -1;
    flex: 0 0 100px;
    overflow: auto;
    background-color: #edce82ef;
    border: 1px solid black;
}

.content-body .ads {
    flex: 0 0 100px;
    overflow: auto;
    background-color: #5fe666ef;
    border: 1px solid black;
}

.footer {
    flex: 0 0 50px;
    background-color: #823fe7ef;
    border: 1px solid black;
}